@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  /* TYPOGRAPHY */
  --FF-type: "Inter", sans-serif;

  --FW-light: 400;
  --FW-normal: 600;
  --FW-bold: 700;

  --FS-normal: 0.875rem;

  /* COLORS */
  --Primary-Green: hsl(75, 94%, 57%);

  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-Grey: hsl(0, 0%, 20%);
  --Neutral-DarkGrey: hsl(0, 0%, 12%);
  --Neutral-OffBlack: hsl(0, 0%, 8%);
  --Neutral-gray: hsl(0, 0%, 5%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral-gray);
  padding-block: 10em;
}
.conatiner {
  background-color: var(--Neutral-OffBlack);
  padding-block: 5em;
}
.card {
  width: 90%;
  margin-inline: auto;
  background-color: var(--Neutral-DarkGrey);
  padding: 2em;
  max-width: calc(30em + 2vw);
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 10em;
  margin-inline: auto;
}
figcaption {
  font-family: var(--FF-type, sans-serif);
  font-weight: var(--FW-bold);
  color: var(--Neutral-White);
  font-size: calc(1.5rem + 1vw);
  margin-bottom: 1em;
}
@media (max-width: 24.8125em){
  .heading-primary{ 
  font-size: calc(1rem + .8vw);
  }
}
span {
  display: block;
  color: var(--Primary-Green);
  font-size: calc(0.5rem + 1.1vw);
}
p {
  font-family: var(--FF-type, sans-serif);
  font-weight: var(--FW-light);
  font-size: calc(var(--FS-normal) + 0.5vw);
  margin-bottom: 2em;
  color: var(--Neutral-White);
}
div {
  background-color: var(--Neutral-Grey);
  font-family: var(--FF-type, sans-serif);
  font-weight: var(--FW-normal);
  text-align: center;
  border-radius: 0.8em;
  margin-bottom: 1em;
}
.social a:link {
  display: block;
  text-decoration: none;
  color: var(--Neutral-White);
  font-family: var(--FF-type, sans-serif);
  font-weight: var(--FW-normal);
  font-size: calc(var(--FS-normal) + 0.3vw);
  padding-block: 1.4em;
  border-radius: 0.8em;
  box-shadow: inset 0 0 0 0 var(--Primary-Green);
  transition: ease-out 0.3s;
}
.social a:hover {
  box-shadow: inset 28em 0 0 0 var(--Primary-Green);
}
.social a:focus {
  background-color: var(--Primary-Green);
}

footer {
  font-family: var(--FF-type, sans-serif);
}
.attribution {
  font-size: calc(0.5rem + 1vw);
  color: papayawhip;
  text-align: center;
  padding: 0.6em;
}
.attribution a:link {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:visited {
  color: hsl(300, 34%, 33%);
}
.attribution a:hover {
  color: peachpuff;
  text-decoration: underline;
}
.attribution a:active {
  color: var(--Primary-Green);
}
